#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gif-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gif-item {
  margin: 10px;
  border: 5px solid;
  border-color: blue;
  border-radius: 10px;
}

.gif-item img {
  max-width: 200px;
  height: 286px;
  cursor: pointer;
}

.input-search {
  font-size: 1.5rem;
}
